<div class="app">
  <h1>Messenger</h1>
  <select (change)="changeUser($event)" class="user-select">
    <option value=''>Select user...</option>
    <option *ngFor="let user of users" [value]="user.id">{{user.displayName}}</option>
  </select>
  <comment-edit (sendCommentEvent)="sendComment($event)" *ngIf="loggedInUser" [loggedInUser]="loggedInUser"></comment-edit>
  <comments (sendCommentEvent)="sendComment($event)" (onRemoveComment)="removeComment($event)" *ngIf="comments" [comments]="data" [loggedInUser]="loggedInUser"></comments>
</div>