.comments{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    scroll-behavior: smooth;
    .comment{
        background-color: white;
        border: 1px solid black;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px;
        padding: 10px;
        .comment-user{
            display: flex;
            align-items: center;
            .comment-profile{
                width: 70px;
                height: 70px;
                object-fit: fill;
                border-radius: 100%;
            }
            aside{
                display: flex;
                flex-direction: column;
                p{
                    margin: 5px;
                }
            }
        }
        .comment-txt{
            flex: 1;
            text-align: start;
        }

    }
}